@font-face {
  font-family: "Whitney";
  src: url("../public/fonts/Whitney/Whitney-Bold.woff2") format("woff2"),
    url("../public/fonts/Whitney/Whitney-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("../public/fonts/Whitney/Whitney-BookItalic.woff2") format("woff2"),
    url("../public/fonts/Whitney/Whitney-BookItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("../public/fonts/Whitney/Whitney-Book.woff2") format("woff2"),
    url("../public/fonts/Whitney/Whitney-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("../public/fonts/Whitney/Whitney-Light.woff2") format("woff2"),
    url("../public/fonts/Whitney/Whitney-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("../public/fonts/Whitney/Whitney-SemiboldItalic.woff2")
      format("woff2"),
    url("../public/fonts/Whitney/Whitney-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("../public/fonts/Whitney/Whitney-MediumItalic.woff2") format("woff2"),
    url("../public/fonts/Whitney/Whitney-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("../public/fonts/Whitney/Whitney-LightItalic.woff2") format("woff2"),
    url("../public/fonts/Whitney/Whitney-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("../public/fonts/Whitney/Whitney-Medium.woff2") format("woff2"),
    url("../public/fonts/Whitney/Whitney-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("../public/fonts/Whitney/Whitney-Semibold.woff2") format("woff2"),
    url("../public/fonts/Whitney/Whitney-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
